.cover {
    background: white !important;
  }
  
  .cover.show {
    border-bottom: .2rem solid #E2725B;
  }
  
  .cover-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  
  .cover-main h1 { 
    color: white !important;
    font-size: 2rem !important;
  }
  
  .cover-main p {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  pre::after {display: none !important;}